* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 16px;
}

p a {
	color: rgb(52, 92, 170);
}

p a:hover {
	opacity: 0.7;
}

.page {
	padding: 50px 0;
}

.page-white {
	color: rgb(255, 255, 255);
	text-shadow: 0 0 2px rgb(0, 0, 0);
}

.page-white a {
	color: rgb(255, 255, 255);
}

.wrapper {
	width: 1100px;
	margin: auto;
	overflow: hidden;
}

.wrapper h1 {
	margin: 20px 0;
	font-size: 32px;
	font-weight: normal;
}

.wrapper p {
	margin: 20px 0;
}

.wrapper-logo {
	width: 500px;
}

.wrapper-left {
	width: 500px;
	float: left;
	box-sizing: border-box;
}

.wrapper-right {
	width: 500px;
	float: right;
	box-sizing: border-box;
}

.wrapper-start {
	text-decoration: none;
}

.wrapper-start div {
	width: 500px;
	margin: 40px 0;
	padding: 10px;
	border: solid 1px rgb(52, 92, 170);
	text-align: center;
	color: rgb(52, 92, 170);
}

.wrapper-start div:hover {
	background-color: rgb(52, 92, 170);
	color: rgb(255, 255, 255);
	opacity: 1;
}

.wrapper-info {
	font-size: 12px;
}

.wrapper-movie {
	width: 500px;
	margin: 40px 0;
}

.wrapper-image {
	width: 500px;
	margin: 20px 0;
}

.footer {
	background-color: rgb(236, 240, 241);
	font-size: 12px;
}

@media screen and ( max-width: 1120px ){
	body {
		margin-top: -60px;
	}
	.page, .wrapper, .wrapper-left, .wrapper-right, .footer, .wrapper-logo, .wrapper-movie, .wrapper-image, .wrapper-start div {
		width: 100%;
		box-sizing: border-box;
	}
	.wrapper {
		padding: 30px;
	}
	.wrapper-start {
		display: block;
		margin-top: -20px;
	}
}

@media screen and ( max-width: 820px ){
	.wrapper-large-banner {
		width: 80%;
	}
}