* {
	margin: 0;
	padding: 0;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: 'Noto Sans JP', sans-serif;
	background-color: #345CAA;
	height: 100%;
}

#canvas {
	width: 100%;
	height: 100%;
}

#cover {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	text-align: center;
	background-color: rgb(0, 0, 0);
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#cover_loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
}

#header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
}

#header #logo {
	position: absolute;
	left: 10px;
	top: 5px;
	height: 120px;
}

.menu {
	position: absolute;
	right: 22px;
	top: 20px;
}

.menu ul {
	overflow: hidden;
}

.menu li {
	margin-left: 35px;
	float: left;
	list-style-type: none;
}

.menu li:hover {
	opacity: 0.7;
	cursor: pointer;
}

.menu li img {
	height: 35px;
}

#dialog {
	width: 90%;
	height: 90%;
	position: fixed;
	top: 5%;
	left: 5%;
	z-index: 101;
	background-color: rgb(255,255,255);
	box-shadow: 0 0 5px rgb(0,0,0);
	display: none;
}

#information {
	width: 100%;
	position: fixed;
	top: 5px;
	left: 5px;
}

#toolbar {
	margin: 6px;
}

#debug {
	margin: 9px;
	padding: 9px;
	width: 300px;
	background-color: rgba(255,255,255,0.9);
	font-size: 12px;
	box-shadow: 0 0 3px rgba(0,0,0,0.7);
	display: none;
}

.tip {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #345CAA;
	border: solid 1px #FFFFFF;
	z-index: 100;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}

#tip {
	display: none;
}

#tip_copy {
	display: block;
	opacity: 0;
}

.tip span, .tip img {
	vertical-align: middle;
}

.tip img {
	margin-left: 5px;
	margin-top: 2px;
}

.tip img.icon-first {
	margin-left: 10px;
}

.inst-box {
	display: block;
	margin-left: -3px;
}

#inst_box {
	padding-top: 20px;
}

#vr_menu {
	display: none;
}

#vr_mode {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	margin: 3px;
	display: none;
}

.progressbar-base {
	position: fixed;
	z-index: 102;
	top: 80vh;
	left: 20vw;
	width: 60vw;
	height: 5px;
	background-color: #727272;
	transform-origin: top left;
}

#progressbar-front {
	background-color: #FFFFFF;
	transform: scaleX(0);
	transition: all 0.1s;
}

#footer {
	width: 100%;
	height: 30px;
	position: fixed;
	left: 0;
	bottom: 0;
	color: rgb(255, 255, 255);
	font-size: 12px;
	box-sizing: border-box;
	z-index: 10;
}

#footer #copyright {
	position: absolute;
	left: 10px;
	top: 5px;
}

#footer #version {
	position: absolute;
	right: 10px;
	top: 5px;
	text-align: center;
}

@media screen and ( max-width: 898px ){
	.logo-image {
		width: 45vw;
	}
	#toolbar {
		margin: 6px 0;
	}
}

@media screen and ( max-width: 798px ){
	#cover_loading > img {
		width: 50vw;
	}
	#copyright img {
	width: 20vw;
	}
	#vrend_esc {
		display: none;
	}
	.menu-image {
		width: 25%;
	}
	.inst-box {
		width: 45vw;
	}
}