* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
}

#information {
	position: fixed;
	top: 5px;
	left: 5px;
}

#debug {
	margin: 9px;
	padding: 9px;
	width: 300px;
	background-color: rgba(255,255,255,0.9);
	font-size: 12px;
	box-shadow: 0 0 3px rgba(0,0,0,0.7);
}

#copyright {
	position: fixed;
	bottom: 10px;
	left: 16px;
}

#chip {
	position:fixed;
	top: 0;
	left: 0;
	padding: 10px;
	background-color: #345CAA;
	border: solid 1px #FFFFFF;
	z-index: 100;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.7);
	display: none;
}

@media screen and ( max-width: 798px ){
	#information img, #copyright img {
		width: 70%;
	}
}