#dialog_exit {
	position: absolute;
	top: 12px;
	left: 12px;
}

#dialog_title {
	position: absolute;
	top: 10px;
	left: 90px;
	color: rgb(52, 92, 170);
	font-size: 42px;
	font-weight: bold;
}

#dialog_main {
	width: 100%;
	padding: 10px 16px;
	position: absolute;
	top: 85px;
	left: 0px;
	overflow-y: scroll;
	box-sizing: border-box;
}

#dialog_main h1 {
	margin-bottom: 20px;
}

#dialog_main p {
	margin-top: 10px;
	margin-bottom: 20px;
}

#dialog_main h1 {
	color: rgb(52, 92, 170);
	font-size: 26px;
	font-weight: normal;
}

#dialog_main a {
	color: rgb(52, 92, 170);
}

#dialog_main a:hover {
	opacity: 0.7;
}

.dialog_photo {
	width: 20%;
	padding-right: 14px;
	padding-bottom: 9px;
	box-sizing: border-box;
}

.dialog_video {
	width: 50%;
	padding-right: 14px;
	padding-bottom: 9px;
	box-sizing: border-box;
}

.dialog_help th {
	width: 150px;
	text-align: left;
}